<h1>Games</h1>

<table class="table">
 <thead>
   <th>id</th>
   <th>Home</th>
   <th>Away</th>
   <th>Logo Home</th>
   <th>Logo Away</th>
   <th>Date</th>
   <th>Stadium</th>
   <th>League</th>
   <th>Challenges</th>
   <th>Actions</th>
 </thead>

  {{#list Games}}

  <tr>
    <td>
      <a class="btn btn-secondary btn-sm" href="/Games/id/{{id}}" role="button">
        {{id}}
      </a>
    </td>
    <td>
      {{team_A}}
    </td>
    <td>
      {{team_B}}
    </td>
    <td>
      {{logoTeam_A}}
    </td>
    <td>
      {{logoTeam_B}}w
    </td>
    <td>
      {{date}}
    </td>
    <td>
      {{stadium}}
    </td>
    <td>
      {{league}}
    </td>
     <td>
       <a class="btn btn-outline-secondary btn-sm" href="/Games/ChallengesOnGame/{{id}}" role="button">
        View Challenges
      </a>
    </td>
    <td>
      <a class="btn btn-outline-secondary btn-sm" href="/Games/update/{{id}}" role="button">
        Update
      </a>
      <a class="btn btn-outline-danger btn-sm" href="/Games/delete/{{id}}" role="button">
        Delete
      </a>
    </td>
  </tr>

  {{/list}}
</table>

<div class="text-center">
  <a class="btn btn-primary" href="/Games/create" role="button">
    Add a Game
  </a>
</div>
