<h1>Update Game</h1>

<form action="/Games/update/{{Game.id}}" method="post">
  <div class="form-group">
    <label for="team_A">Home team</label>
    <input value="{{Game.team_A}}" class="form-control" type="text" id="team_A" name="team_A" placeholder="Team name" required>
  </div>

  <div class="form-group">
    <label for="team_B">Away Team</label>
    <input value="{{Game.team_B}}" class="form-control" type="text" id="team_B" name="team_B" placeholder="Team name" required>
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input value="{{Game.date}}" class="form-control" type="date" id="date" name="date" placeholder="YYYY-MM-">

  <div class="form-group">
    <label for="stadium">Stadium</label>
    <input value="{{Game.stadium}}" class="form-control" type="text" id="stadium" name="stadium" placeholder="Stadium name">
  </div>

  <div class="form-group">
    <label for="league">League</label>
    <input value="{{Game.league}}" class="form-control" type="text" id="league" name="league" placeholder="Ex: Ligue 1, Liga, Serie A etc." required>
  </div>


  <div class="text-center">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
  </div>
</form>