<h1>Bet</h1>

<div>
  <div>username : {{Bet.username}}</div>
  <div>GameId : {{Bet.GameId}}</div>
  <div>result : {{Bet.result}}</div>
  <div>Team_A : {{Bet.team_A}}</div>
</div>

<div class="text-center">
  <a class="btn btn-primary" href="/Bets/create" role="button">
    Add a Bet
  </a>
  <a class="btn btn-secondary" href="/Bets/update/{{Bet.id}}" role="button">
    Update
  </a>
  <a class="btn btn-danger" href="/Bets/delete/{{Bet.id}}" role="button">
    Delete
  </a>
</div>
