<h1>Bets</h1>

<table class="table">
 <thead>
   <th>Username</th>
   <th>GameId</th>
   <th>Result</th>
   <th>Actions</th>
 </thead>

  {{#list bets}}

  <tr>
    <td>
      <a class="btn btn-secondary btn-sm" href="/bets/id/{{id}}" role="button">
        {{username}}
      </a>
    </td>
    <td>
      {{GameId}}
    </td>
    <td>
      {{result}}
    </td>
    <td>
      <a class="btn btn-outline-secondary btn-sm" href="/bets/update/{{id}}" role="button">
        Update
      </a>
      <a class="btn btn-outline-danger btn-sm" href="/bets/delete/{{id}}" role="button">
        Delete
      </a>
    </td>
  </tr>

  {{/list}}
</table>

<div class="text-center">
  <a class="btn btn-primary" href="/bets/create" role="button">
    Add a bet
  </a>
</div>