<h1>Update Bet</h1>

<form action="/bets/update/{{Bet.id}}" method="post">
  <div class="form-group">
    <label for="username">Username*</label>
    <input value="{{Bet.username}}" class="form-control" type="text" id="username" name="username" placeholder="Nom" required>
  </div>

  <div class="form-group">
    <label for="BetId">Bet*</label>
    <select class="form-control" id="GameId" name="GameId" required>
      {{#list Games}}
      <option value="{{_id}}" {{selected ../Bet.GameId id}}>{{team_A}} - {{team_B}}</option>
      {{/list}}
    </select>
  </div>

  <div class="form-group">
    <label for="Bet">Result</label>
    <select class="form-control" id="result" name="result" required>
      <option value="Home team wins">Home Team wins </option>
      <option value="Away team wins">Away team wins </option>
      <option value="Draw">Draw </option>
    </select>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
  </div>
</form>
