<h1>Update Bet</h1>

<form action="/Bet/update/{{Bet.id}}" method="post">
  <div class="form-group">
    <label for="username">Username*</label>
    <input value="{{Bet.username}}" class="form-control" type="text" id="username" name="username" placeholder="Nom" required>
  </div>

  <div class="form-group">
    <label for="BetId">Bet*</label>
    <select class="form-control" id="BetId" name="BetId" required>
      {{#list Bets}}
      <option value="{{id}}" {{selected ../Bet.BetId id}}>{{name}}</option>
      {{/list}}
    </select>
  </div>

  <div class="form-group">
    <label for="Bet">Bet*</label>
    <input value="{{Bet.Bet}}" class="form-control" type="number" id="Bet" name="Bet" placeholder="Nombre de places" required>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
  </div>
</form>
